

body {
    background-color: darksalmon;
  }
  
  /* .container { */
      /* display: grid; */
      /* grid-template-columns: 50px 50px 50px 50px; */
      /* grid-template-rows: 50px 50px 50px 50px; */
      /* grid-gap: 3px;  */
      /* font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif; */
    /* } */

.wrapper {
  display: grid;
  border: 100px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: lightgreen;
}

.wrapper {
  display: grid;
  border: 100px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: lightgreen;
}
.wrapper {
  display: grid;
  border: 100px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: lightgreen;
}
.wrapper {
  display: grid;
  border: 100px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: lightgreen;
}
.wrapper {
  display: grid;
  border: 100px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: lightgreen;
}
.wrapper {
  display: grid;
  border: 100px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: lightgreen;
}
.wrapper {
  display: grid;
  border: 100px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: lightgreen;
}
}
.one {
  grid-column: 1;
  grid-row: 1;
  background-color: lightgrey;
}
.two {
  grid-column: 2;
  grid-row: 1;
  background-color: lightgrey;
}
.three {
  grid-column: 3;
  grid-row: 1;
  background-color: lightgrey;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 1;
  grid-row: 2;
}
.six {
  grid-column: 2;
  grid-row: 2;
}
.seven {
  grid-column: 3;
  grid-row: 2;
}
.eight {
  grid-column: 4;
  grid-row: 2;
}
.nine {
  grid-column: 1;
  grid-row: 3;
}
.ten {
  grid-column: 2;
  grid-row: 3;
}
.eleven {
    grid-column: 3;
    grid-row: 3;
}
.twelve {
    grid-column: 4;
    grid-row: 3;
}
.thirteen {
    grid-column: 1;
    grid-row: 4;
}
.fourteen {
    grid-column: 2;
    grid-row: 4;
}
.fifteen {
    grid-column: 3;
    grid-row: 4;
}
.sixteen {
    grid-column: 4;
    grid-row: 4
}
  
  /* .container { */
      /* display: grid; */
      /* grid-template-columns: 50px 50px 50px 50px; */
      /* grid-template-rows: 50px 50px 50px 50px; */
      /* grid-gap: 3px;  */
      /* font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif; */
    /* } */

  header {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  header h1 {
    margin: 12px 0;
    padding: 0;
  }